<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav>
    <a href='/'>Home</a>
    <a href='/template?t=0'>Template 1</a>
    <a href='/template?t=1'>Template 2</a>
    <a href='/template?t=2'>Template 3</a>

</nav>
    {% block content %} {% endblock %}
    
</body>
</html>